@import "tailwindcss";

/*h1 {*/
/*    text-align: center;*/
/*}*/

/*.addTodo {*/
/*    text-align: center;*/
/*}*/

.removeBtn, .isDoneBtn {
    float: right;
}

.opacityTest {
    opacity: 0.1;
}

.opacityTest:hover {
    opacity: 1;
}
